name: Code Check
on:
  - push
  - pull_request

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm install --frozen-lockfile
      - run: pnpm spell
      - run: pnpm format
      - run: pnpm check
      - run: pnpm lint
      - run: pnpm test
      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_UPLOAD_TOKEN }}